
{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <h1>Getting Started with PHP on Heroku</h1>
    <p><b>This is my first paragraph for the assignment getting started with PHP on Heroku. I need to write three paragraphs of text. I know I could probably just do the lorem ipsem thing but that's kind of boring. I probably will for the other two paragraphs because I'm lazy and honestly not that creative. I'm coming up with more words to write. Writing...writing...writing...there's a lake by my house maybe if it's nice I'll go to it. But then again there's the bacteria and apparently they can cause some diseases or sicknesses. I could go to the ocean... salt water is like a purifyier right? I really don't know anything-there's a reason I'm studying what I'm studying its a wonder I'm alive.</b></p>
  </div>
</div>

<div class="container">
  <div class="alert alert-info text-center" role="alert">
     This is a link to my linkedin <a href="https://www.linkedin.com/in/annemarie-fulcer/" class="alert-link">I'm desperate to eventually get hired.</a>
  </div>

</div>

  <div>
  <p>This is my second paragraph. I'm putting it here before the table that I have to have. How long do these paragraphs have to be... Later today I have to watch Ex Machina for a class- that I actually think would be pretty fun. A Professor here told me to not take summer classes and I'm like ...um I'd rather do it over the summer so I have motivation to get shit done like going out and enjoying life than at NJ where it's bleak and what's even the point because it's too cold to go outside anyways. Ok I've written enough. 10/10 would recommend summer classes</p>
</div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Top 5 Books</th>
      <th scope="col">Top 5 Foods</th>
      <th scope="col">Bottom 5 Classes</th>
      <th scope="col">Top 5 Friends</th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <td scope="row">The book of Men</td>
      <td>Burrito</td>
      <td>Math for Computer Science</td>
      <td>Nella</td>
    </tr>
    <tr>
      <td scope="row">The Ranger's Apprentice</td>
      <td>Sushi</td>
      <td>That one business analysis class</td>
      <td>Courtney</td>
    </tr>
    <tr>
      <td scope="row">The Sun and her Flowers</td>
      <td>Toast</td>
      <td>Astronomy</td>
      <td>Shelly</td>
    </tr>
    <tr>
      <td scope="row">Elanor and Park</td>
      <td>Bubble Tea</td>
      <td>Earth Science</td>
      <td>Matthew</td>
    </tr>
    <tr>
      <td scope="row">All of Harry Potter- except for the Cursed Child that was crap</td>
      <td>Poke bowls</td>
      <td>Computer Ethics</td>
      <td>no one else is worthy for this list</td>
    </tr>
    </tbody>
  </table>
    </div>
    <div>
      <p> This is my last paragraph. I was going to write the first thing that came to mind but the first thing that came to mind is how when I was interviewing someone this summer he would always say "hmmmmmMMMMm .....weEllll now I'm thinking of" to start off every new topic and it was kind of funny. I"m also thinking that I really gotta figure my shit out this week maybe I signed up for too many classes because I'm already missing deadlines- but I'm at a point where I should have already graduated and I can't afford to waste time- I need a job. I actually am talking to someone from Tennessee about a potential job that I'd take time off NJIT for. I need the money and the experience that's how desperate I am- I'd move across the country (again) for a job in in the south where my ashtma is literally off the charts. I lived in Florida this past fall for a job- actually passed out from the humidity. But desparate times I'll do what I gotta do</p>
    </div>
{% endblock %}
